body {
    margin: 0px;
    background-color: #222831;
    color: #eeeeee;
    text-align: center;
    font-family:"Fira Sans", sans-serif;
}

h1 { 

}

#attribute {
    position: absolute;
    left: 220px;
    top: 150px;
}


